# Virtual environment
.venv/
venv/

# Dataset
data/

# Models / backups
local_models_backup/
*.keras
*.h5
*.pth
*.pt

# Results / outputs
results/*
!results/best_model.csv
outputs/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
notebooks/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db